In [53]:
import pandas as pd
df=pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [54]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [55]:
df['spam']=df["Category"].apply(lambda x:1 if x=='spam'else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [67]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.Message,df.spam,test_size=0.2)

In [57]:
from sklearn.feature_extraction.text import CountVectorizer
corpus=["This is a document.",
       "This document is the second document.",
       "And this is the third one.",
        "Is this your first document.",
       ]
vectorizer=CountVectorizer()
r=vectorizer.fit_transform(corpus)
# print(X)
print(vectorizer.get_feature_names())
y=r.toarray()
print(r.toarray())
# here no. of columns in in y==no. of elements in "get_feature_names"...
# and it has 4 rows as i have 4 different strings in corpus
# And y represent count of each of those features in each string in "corpus" as a row in "y"

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this', 'your']
[[0 1 0 1 0 0 0 0 1 0]
 [0 2 0 1 0 1 1 0 1 0]
 [1 0 0 1 1 0 1 1 1 0]
 [0 1 1 1 0 0 0 0 1 1]]

In [58]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
# here we have text values for X_train,X_test...so convert it to a number matrix every time.....
X_train_count=v.fit_transform(X_train.values)
# print(X_train_count[0:1])
# so X_train_count is basically a number matrix where each element represents the count of each text in the each eamil....
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [59]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [60]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [62]:
X_test_count = v.transform(X_test)
print(X_test_count.toarray()[:3])
model.score(X_test_count,y_test)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

0.9874439461883409

With less number lines of Coding

In [64]:
from sklearn.pipeline import Pipeline
clf=Pipeline([('vectorizer',CountVectorizer()),('nb',MultinomialNB())])

In [69]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [71]:
clf.score(X_test,y_test)

0.9838565022421525